*.iml
.idea/
out/
/2021_인구관련연간자료_20221006_11746.csv
/from_to.txt
/each_sido_cnt.txt
/hospital_data.sql
/hospital_data.txt
.gradle/
build/
gradle/
/district_data
/src/main/java/algorithm/java1019/mbtiTest/lion.jpg
/src/main/java/algorithm/java1019/mbtiTest/naverf08e7a6fb540b05a44840be6d635469e.html
/src/main/java/algorithm/java1019/mbtiTest/robots.txt
/src/main/java/algorithm/java1019/mbtiTest/sitemap.xml
/src/main/java/algorithm/java1019/mbtiTest/banner.png
/src/main/java/algorithm/week5/java1019/mbtiTest/banner.png
/src/main/java/algorithm/week5/java1019/mbtiTest/lion.jpg
/src/main/java/algorithm/week5/java1019/mbtiTest/naverf08e7a6fb540b05a44840be6d635469e.html
/src/main/java/algorithm/week5/java1019/mbtiTest/robots.txt
/src/main/java/algorithm/week5/java1019/mbtiTest/sitemap.xml
